# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Thumbnails
Thumbs.db
ehthumbs.db

# Editor directories and files
.vscode/
.idea/
.claude/
*.swp
*.swo
*~

# Logs
*.log

# OS temp files
Desktop.ini

# claude files and folders
CLAUDE.md
.claude/
.playwright-mcp/

# other files
downloads/
balkara/
compressed.mp4
danni.txt
readme.md
png-photos/

# seo files
Archive.zip
BingSiteAuth.xml
robots.txt
sitemap.xml
google9b58301ef7ae678a.html